.navigate-wrapper .btn-icon,
.navigate-wrapper .btn-icon img{
  margin: 4px;
  padding: 0;
}

.navigate-wrapper {
  align-items: center;
  justify-content: flex-start;
}

.navigate-wrapper .btn {
  min-width: 1rem;
}

.navigate-wrapper .btn-icon:active {
  transform: scale(1);
  box-shadow: 0 0 5px var(--color-secondary-inverse) inset;

}