@import "theme.css";
.App {
  text-align: center;
  min-height: 100vh;
}
.App > footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  margin-bottom: 0;
  padding-bottom: 0;
}
.hidden {
  display: none;
}
.position-right {
  display: block;
  margin: 2ch;
  margin-left: auto;
  text-align: right;
}
.icon {
  width: 32px;
  height: 32px;
  font-size: 1.25em;
}
.list {
  margin: 8px;
}
.btn:disabled {
  filter: grayscale(100%);
  transform: scale(0.8);
}
.btn:disabled:hover {
  transform: scale(0.8);
}
.flex-row-wrap {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.flex-left {
  justify-content: flex-start;
}
.flex-right {
  justify-content: flex-end;
}
.modal {
  position: fixed;
  top: 50%;
  flex-flow: column nowrap;
  max-height: 30rem;
  max-width: 90vw;
  overflow-y: scroll;
  align-items: center;
}
.modal .alert {
  width: 25ch;
}
.modal-stacked .modal-actions {
  align-items: stretch;
}
.form {
  padding: 1rem;
  font-size: 1.5em;
  max-width: 92vw;
  min-width: fit-content;
  --color-form-background: var(--color-modal-background);
  --color-form-text: var(--color-modal-text);
}
.form .form-item > input {
  font-size: 1.5em;
  width: 100%;
}
.form-item legend,
.form-item > label,
.form-item p,
.form-item::placeholder {
  opacity: 0.7;
}
.toggle-switch {
  display: none;
}
.toggle-switch + label {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 32px;
  border: 1px solid var(--color-status-plain);
  border-radius: 15px;
  transition: background 0.3s linear;
  cursor: pointer;
}
.toggle-switch + label:after {
  content: "";
  position: absolute;
  left: 1px;
  top: 1px;
  width: 28px;
  height: 28px;
  border-radius: 15px;
  background-color: #ffffff;
  transition: left 0.3s ease-out;
}
.toggle-switch:checked + label {
  background-color: #42d77d;
}
.toggle-switch:checked + label:after {
  left: 29px;
}